<html>
    {% include "header.html" %}
    {% block content %}
    <table class="center", style="width:500px">
        
        <tr><td>Full Name</td><td>John Smith</td></tr>
        <tr><td>Email Address</td><td>johnsmith@test.com</td></tr>
        <tr><td>Mobile Number</td><td>0917-000-0000</td></tr>
        <tr><td>Birth Date</td><td>01/01/2000</td></tr>
        <tr><td>Gender</td><td>Male</td></tr>
        <tr><td>Mode of Payment</td><td>Credit Card</td></tr>
        
    </table>
    {% include "footer.html" %}
    {% endblock %}
</html>