<html>


<body>
    
        <form>
         
            <h4>Create Account</h4>
            <div>
              <input type="text" placeholder="First Name"/>
              <input type="text" placeholder="Last Name"/>
              </div>
              <div>
              <input type="email" placeholder="Email Adress"/>
              </div>
            
              <input type="password" placeholder="Password"/>
          
          
              <h4>Date of Birth</h4>
             
                  <input type="text" placeholder="DD"/>
                
                  <input type="text" placeholder="MM"/>
               
                  <input type="text" placeholder="YYYY"/>
               
           
              <h4>Gender</h4>
            
                <input type="radio"/>
                <label>Male</label>
                <input type="radio"/>
                <label>Female</label>
              
         
            <h4>Payment Details</h4>
            <div>
              <input type="radio"/>
              <label>Credit Card</label>
              <input type="radio"/>
              <label>Cash</label>
            
              <input type="text" placeholder="Card Number"/>
             
                <input type="text" placeholder="Card CVC"/>
            </div>
          </div>
          <input type="submit" value="Register"></input>
        </form>
      </div>


</body>


</html>